{% extends 'admin1.html.twig' %}
{% block afterheader %}
    {{ form_start(f) }}

    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Add Driver</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->

            <div class="card-body">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">FirstName</label>
                    <div class="col-sm-10">
                        <input type="text" onkeyup="controledesaisie()" class="form-control" id="firstname" placeholder="Firstname" {{ form_widget(f.firstname) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Lastname</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" onkeyup="controledesaisie()" id="lastname" placeholder="Lastname" {{ form_widget(f.lastname) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Adress</label>
                    <div class="col-sm-10">
                        <input type="text" onkeyup="controledesaisie()" class="form-control" id="adress" placeholder="Adress" {{ form_widget(f.adress) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Age</label>
                    <div class="col-sm-10444">
                        <input type="number" onkeyup="controledesaisie()" class="form-control" min="0" id="age" placeholder="Age" {{ form_widget(f.age) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Phone Number</label>
                    <div class="col-sm-10444">
                        <input type="number" onkeyup="controledesaisie()" class="form-control" min="0" id="phonenumber" placeholder="Phone Number" {{ form_widget(f.Phone_Number) }}
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-info" {{ form_widget(f.Add) }}
                <button type="reset" class="btn btn-default float-right">Cancel</button>
            </div>
            <!-- /.card-footer -->
    </div>
    <!-- /.card -->

    </div>

    {{ form_end(f) }}
<a href={{ path('transport_back_driver') }}><button style="position: absolute;
left: 120px;
top: 418px;
height: 26px;">List Of Drivers</button></a>


<script>
    function controledesaisie() {


        var age = $("#age").val();
        if(age != '')
        {

            $("#age").removeClass("is-invalid");
            $("#age").addClass('is-valid');

        }
        else{
            $("#age").removeClass("is-valid");
            $("#age").addClass('is-invalid');
        }
        var phonenumber = $("#phonenumber").val();
        if(phonenumber != '')
        {

            $("#phonenumber").removeClass("is-invalid");
            $("#phonenumber").addClass('is-valid');

        }
        else{
            $("#phonenumber").removeClass("is-valid");
            $("#phonenumber").addClass('is-invalid');
        }
        var name = $("#adress").val();
        if(name != '')
        {

            $("#adress").removeClass("is-invalid");
            $("#adress").addClass('is-valid');

        }
        else{
            $("#adress").removeClass("is-valid");
            $("#adress").addClass('is-invalid');
        }
        var cover = $("#lastname").val();
        if(cover != '')
        {

            $("#lastname").removeClass("is-invalid");
            $("#lastname").addClass('is-valid');

        }
        if(cover == ''){
            $("#lastname").removeClass("is-valid");
            $("#lastname").addClass('is-invalid');
        }

        var description = $("#firstname").val();
        if(description != '')
        {

            $("#firstname").removeClass("is-invalid");
            $("#firstname").addClass('is-valid');

        }
        if(description == ''){
            $("#firstname").removeClass("is-valid");
            $("#firstname").addClass('is-invalid');
        }

    }
</script>
{% endblock %}